<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if homepage}}
    {{{body}}}
    {{else}}
      {{>userNav}}
      {{>userBanner}}
      {{{body}}}
      {{/if}}
  </body>
</html>